.xjb-Ed-longInput {
    height: 5em;
}

.xjb-ED-skillTag-Container {
    display: flex;
}

.xjb-ED-skillTag-Container>* {
    font-size: 0.9em;
}

.xjb-ED-uniqueSetting-Container>* {
    font-size: 0.9em;
}

.xjb-Ed-contentDataInput {
    margin-top: 1em;
    overflow: auto;
}

.xjb-Ed-contentWho {
    width: 10em;
}

.xjb-Ed-contentDoWhat {
    width: 16em;
}

.xjb-Ed-contentChoiceContainer>* {
    font-size: 0.9em;
}

.xjb-Ed-contentChoiceContainer ul {
    max-height: 360px;
    max-width: 11em;
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    margin: auto 0;
    padding: 4px;
    background-color: rgb(51, 51, 128, 0.8);
    border: #e4d5b7 solid 4px;
    border-radius: 1px;
    right: 0;
}

.xjb-Ed-contentChoiceContainer ul select {
    background-color: rgb(51, 51, 128, 0.8);
    border: rgb(51, 51, 128, 0.8) solid 4px;
    border-radius: 1px;
    height: 100%;
    color: white;
    font-size: large;
    font-family: "楷体";
}



.xjb-Ed-contentChoiceContainer ul:empty {
    display: none;
}

.xjb-Ed-contentChoiceContainer ul li {
    margin-bottom: 10px;
    font-size: 15px;
}

.xjb-Ed-contentChoiceContainer datalist {
    overflow: auto;
    max-height: 200px;
}

.xjb-Ed-contentChoiceContainer ul li.xjb-chosen {
    background-color: red;
}

.xjb-Ed-contentChoiceContainer ul li span {
    background-color: yellow;
}

.xjb-Ed-contentChoiceContainer .xjb_dialogButton {
    font-size: 0.85em;
}

.xjb_dialogButton.xjb-Ed-footerButton {
    font-size: smaller;
    margin-right: 10px;
}

.ED-kindSwitchPage {
    width: 100%;
    background: purple;
    opacity: 0.95;
    z-index: 4;
}

