:root {
  --xjb-file-width: 54%;
  --xjb-color: #f0acf7, #7093DB, #f7f0ac;
}

/*彩框动画*/
@keyframes xjb-color-circle {
  0% {
    border-top-color: #f0acf7;
    border-bottom-color: white;
    border-left-color: #7093DB;
    border-right-color: #f7f0ac
  }

  25% {
    border-top-color: #7093DB;
    border-bottom-color: #f7f0ac;
    border-left-color: white;
    border-right-color: #f0acf7
  }

  50% {
    border-top-color: white;
    border-bottom-color: #f0acf7;
    border-left-color: #f7f0ac;
    border-right-color: #7093DB
  }

  75% {
    border-top-color: #f7f0ac;
    border-bottom-color: 7093DB;
    border-left-color: #f0acf7;
    border-right-color: white
  }

  100% {
    border-top-color: #f0acf7;
    border-bottom-color: white;
    border-left-color: #7093DB;
    border-right-color: #f7f0ac
  }
}

.xjb_color_circle {
  animation: xjb-color-circle 0.6s infinite linear
}

/*振荡动画*/
@keyframes xjb_shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.xjb_animation_shake {
  animation: xjb_shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.xjb-shake {
  animation: xjb_shake 0.5s infinite linear
}

/*旋转动画*/
@keyframes xjb_tran {
  0% {
    transform: rotateY(0deg)
  }

  50% {
    transform: rotateY(180deg)
  }

  100% {
    transform: rotateY(360deg)
  }
}

@keyframes xjb_tranB {

  0%,
  100% {
    background-size: 23px 23px;
    opacity: 0;
    transform: rotateY(0deg);
  }

  25%,
  90% {
    background-size: 36px 36px;
    opacity: 0.3;
    transform: rotateY(180deg)
  }

  50%,
  75% {
    background-size: 50px 50px;
    opacity: 0;
    transform: rotateY(360deg)
  }
}

.xjb_tranEndless {
  display: block;
  animation: xjb_tran var(--xjbTimeLong) infinite linear;
}

.avatar.xjb_tranEndless {
  --xjbTimeLong: 0.5s
}

#arena.xjb_tranEndless {
  --xjbTimeLong: 4s
}


/*左浮动*/
.xjb_floatRight {
  float: right;
}

/*居中定位*/
.xjbToCenter {
  position: absolute;
  margin: auto;
  right: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
}

/*隐藏*/
.xjb_hidden {
  display: none !important;
}



/*抽奖*/
.xjb-choujiang-listContainer> :nth-child(1) {
  color: red;
}

.xjb-choujiang-listContainer> :nth-child(2) {
  color: orange;
}

.xjb-choujiang-listContainer> :nth-child(3) {
  color: blue;
}

.xjb-choujiang-listContainer> :nth-child(4) {
  color: pink;
}

.xjb_choujiang {
  position: relative;
  font-size: 24px;
  border: 1px solid #4A766E;
  border-radius: 5em;
  float: left;
  margin-bottom: 14px;
}

div#myChouJiang_XJB_CONTENT {
  font-size: 30px;
  color: #D9D919;
  margin-left: 56%;
  margin-top: 100px;
  width: 240px;
  text-align: center;
}

button#myChouJiang_XJB_BUTTON {
  margin-left: 60%;
  border-radius: 5em;
  position: relative;
  color: red;
  border: 1px solid green;
  font-size: 24px;
  margin-top: 200px;
  width: 175px;
  height: 80px;
}

div#myChouJiang_XJB_TXT {
  font-size: 20px;
  right: 410px;
  top: 10px;
}

div.xjb_ImgButton {
  width: 28.3%;
  height: 238px;
  margin: 1.7%;
  border: 3px solid #f0acf7;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  border-radius: 0.5em;
}


/*存档*/
.xjb_ul_storage li p span {

  padding-top: 6px;
  float: left;
  width: 41px;
  height: 35px;
  margin-left: 8px;
  margin-top: -10px;
  background-color: #004b49;
  border-radius: 50%
}

.xjb_ul_storage li p {
  font-size: 18px;
  margin-left: 6%
}

/*新将包被存档*/
#xjb_storage_theStorage {
  background-size: 18% 100%;
  visibility: hidden;
  margin-bottom: 150px;
  margin-left: -50px;
  overflow: auto;
  background-image: linear-gradient(rgba(255, 225, 255, 0.6), rgba(255, 225, 255, 0.6)), url(../lingli/timer.jpg)
}

#xjb_storage_theStorage::before {
  content: attr(xjb_information);
  white-space: pre;
  color: #e75480;
  background-image: inherit;
  background-size: 100% 100%;
  text-shadow: 2px 2px 0.75em #4e5180;
  position: absolute;
  font-size: 1.25em;
  height: 10em;
  width: 98%;
  border: inherit;
  visibility: visible;
  display: block;
  overflow: auto
}



.xjb-HpCard {
  position: relative;
}

.xjb-HpCard::after {
  content: attr(number);
  position: absolute;
  color: red;
  right: 0;
}

.xjb-hpCard-container {
  perspective: 1000px;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.xjb-hpCard-doubleFace {
  transition: 1s;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.xjb-hpCard-doubleFace>div {
  backface-visibility: hidden;
  position: absolute;
}

.xjb-hpCard-back {
  transform: rotateY(180deg);
}

/*新将包诗文*/
.xjbHeadline {
  font-size: 36px;
  margin: 0px;
}

.xjbWriter {
  font-size: 20px;
  margin: 0px;
}

.xjb2levelTitle {
  font-size: 26px;
  font-weight: bold;
  position: relative;
}




/*拼音注释*/
[xjb_pinyin]:hover::after {
  content: attr(xjb_pinyin);
  background: gold;
}

/*概念注释*/
b[description]:hover::after {
  content: attr(description);
  background: rgb(0, 0, 0, 0.7);
  display: block;
  position: absolute;
  width: 500px;
  font-size: 0.9em;
  text-shadow: 1px 1px 2px rgba(185, 162, 162, 0.3);
  z-index: 10;
  border-radius: 4px;
  color: rgb(170, 169, 169);
  box-shadow: 0 2px 4px rgba(85, 72, 72, 0.2);
  max-width: 60%;
  left: 30%;
}



/*背景*/
div.xjb-interact-back {
  width: 800px;
  height: 400px;
  z-index: 8;
  border-radius: 3em;
  background-image: linear-gradient(to bottom right, #f0acf7, #7093DB, #f7f0ac);
  border: 3px solid black;
}

div.xjb-interact-foot {
  position: absolute;
  font-size: 20px;
  font-family: "楷体";
  width: 100%;
  color: #D9D919;
  text-align: center;
  margin-top: 370px;
  margin-left: -40px;
}

img.xjb-interact-close {
  float: left;
  width: 40px;
}

/*蒙层背景*/
div.xjb_curtain {
  width: 100%;
  height: 100%;
  background-color: rgba(60, 65, 81, 0.7);
  z-index: 9;
}

/*对话框*/
.xjb_dialogBase {
  background-color: #71291d;
  list-style: none;
  opacity: 0.9;
  padding: 5px;
  z-index: 10;
  height: 159.34px;
  width: 628.65px;
  border-radius: 0.5em;
  border: 5px solid #cb6d51;
  font-size: 24px;
  overflow: auto;
  display: block
}

.xjb_dialogButton {
  color: #041322;
  text-align: center;
  font-size: 36px;
  background-color: #e4d5b7;
  border-radius: 0.5em;
  position: relative;
}

.xjb-button {
  padding: 0 0;
  text-align: center;
  border-radius: 0.5em;
  position: relative;
  background-color: #e4d5b7;
  margin-left: 3px;
}
.xjb_ImgButton{
  position: relative;
}

/*chosen*/
li.xjb-chosen,
.xjb_dialogButton.xjb-chosen,
.xjb-button.xjb-chosen {
  background-color: red;
}

.xjb_dialogButton.xjb-chosen.xjb-isVar {
  background-color: #7093DB;
}

.xjb_dialogButton.xjb-chosen.xjb-isVarAnother {
  background-color: orange;
}

.xjb_dialogButton.xjb-chosen.xjb-button-color2 {
  background-color: #70c7db;
}

.xjb_dialogButton.xjb-chosen.xjb-button-color1 {
  background-color: #db7092;
}

.xjb-dialog-prompt {
  position: relative;
  overflow: auto;
  font-size: 24px
}

/**/

.xjb-Ed-contentDataInput {
  margin-top: 1em;
  overflow: auto;
}

.xjb-Ed-contentWho {
  width: 10em;
}

.xjb-Ed-contentDoWhat {
  width: 16em;
}

.xjb-Ed-contentChoiceContainer>* {
  font-size: 0.8em;
}

.xjb-Ed-contentChoiceContainer ul {
  max-height: 360px;
  max-width: 11em;
  position: fixed;
  overflow: auto;
  top: 0;
  bottom: 0;
  margin: auto 0;
  padding: 4px;
  padding-right: 10px;
  background-color: rgb(51, 51, 128, 0.8);
  border: #e4d5b7 solid 4px;
  border-radius: 1px;
  right: 0;
}

.xjb_dialogButton .xjb_dialogButton {
  margin: 0 0.3em;
  border-radius: 50%;
  background-color: yellow;
  top: -0.1em;
  color: red;
  position: relative;
}

/*tetris*/
.xjb_tetrisDialog {
  height: 90vh;
}

.xjb_tetrisDialog * {
  position: relative;
}

.xjb_tetrisDialog .tetrisMoveArea .xjb_dialogButton {
  font-size: 24px;
}

.xjb_tetrisDialog table {
  background-color: #93a47b;
  margin: auto auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 250px;
  height: 500px;
}

.xjb_tetrisDialog tr,
.xjb_tetrisDialog td {
  border: 2px solid #000;
}

.xjb_tetrisDialog td.xjb-tetrisCovered {
  background-color: aqua;
}

div.xjb_brightButton {
  border: 2px solid white;
  color: yellow;
  border-radius: 200px;
  font-size: 19px;
  position: relative;
  margin-left: 5px;
}

/*称号样式，去掉下划线*/
.xjb_hunTitle {
  text-decoration: none;
}

.xjb_hunTitle:hover,
.xjb_hunTitle:link,
.xjb_hunTitle:visited,
.xjb_hunTitle:active {
  color: inherit;
}

.player>.xjb_gathering {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url(../image/xjb_hunbi.png);
  background-size: 123px 123px;
  background-repeat: no-repeat;
  background-position: center;
  animation: xjb_tranB 1s infinite linear;
}

.player>.avatar.xjb-becomeBat {
  background-image: url(../image/character_soul/xjb_bat.jpg) !important;
}