:host {
    display: flex;
    box-sizing: border-box;
    border-radius: 10px;
    border: 5px solid black;
    color: black;
    font-size: 24px;
    --data-name: "";
    --data-pinyin: "";
    --data-id: "";
    --data-sex: "男性";
    --data-group: "魏势力";
    --data-group-textShadow:
        rgb(78 117 140) 0 0 2px,
        rgb(78 117 140) 0 0 2px,
        rgb(78 117 140) 0 0 2px,
        rgb(78 117 140) 0 0 2px,
        black 0 0 1px;
    --data-hp: '4';
    --data-maxHp: '4';
    --data-hujia: '0';
}

:host>div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

.transparent {
    opacity: 0 !important;
}

/* 错误提示 */
.wrong::before {
    content: "!";
    color: red
}

/* 可折叠按钮 */
.expandable-expanded,
.expandable-collapsed {
    font-size: 14px;
    transition: 0.1s;
    cursor: pointer;
}

:is(.expandable-expanded, .expandable-collapsed)::after {
    content: ">";
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}

.expandable-expanded::after {
    transform: rotate(90deg);
}

.expandable-collapsed::after {
    transform: rotateZ(0deg);
}

/* 可编辑文本框 */
[contenteditable='true'] {
    cursor: text;
}

span[contenteditable='true'] {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-shadow: none;
    min-width: 1em;
}

div[contenteditable="true"] {
    background-color: floralwhite;
    padding: 0 10px;
    height: 24px;
    min-width: 100px;
    text-align: center;
    overflow: hidden;
}

/* 皮肤 */
[data-avatar] {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-avatar]>input[type="file"] {
    display: none;
}

[data-avatar]>div {
    height: 13em;
    width: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: dashed black;
    border-radius: 3px;
    background-size: cover;
}

:host>div>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    flex: 1;
}

:host>div>div:nth-child(2) div[data-setting] {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

:host>div>div:nth-child(2) div[data-setting]>span {
    display: flex;
}

:host>div>div:nth-child(2) div[data-setting] .expandable-expanded+span {
    display: none;
}

:host>div>div:nth-child(2) div[data-setting] .expandable-collapsed+span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    color: #fff;
    font-size: 20px;
    text-shadow: var(--data-group-textShadow);
}

:host>div>div:nth-child(2) div[data-setting] .expandable-collapsed[data-for="name"]+span::after {
    content: var(--data-name, "") var(--data-pinyin);
}

:host>div>div:nth-child(2) div[data-setting] .expandable-collapsed[data-for="id"]+span::after {
    content: var(--data-id)
}

:host>div>div:nth-child(2) div[data-setting] .expandable-collapsed[data-for="group"]+span::after {
    content: var(--data-group);
}

:host>div>div:nth-child(2) div[data-setting] .expandable-collapsed[data-for="sex"]+span::after {
    content: var(--data-sex)
}

:host>div>div:nth-child(2) div[data-setting] .expandable-collapsed[data-for="hp"]+span::after {
    content: "体：" var(--data-hp) "/" var(--data-maxHp) "，甲：" var(--data-hujia);
}

/* 武将名 */
[data-name] rt:empty {
    display: none;
}

/* 性别-势力 */
[data-group] li,
[data-sex] li {
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    cursor: pointer;
    opacity: 0.4;
    transition: 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

[data-group] li.chosen,
[data-sex] li.chosen {
    opacity: 1;
}

[data-group] li:hover,
[data-sex] li:hover {
    opacity: 1;
}

[data-group] li:after,
[data-sex] li:after {
    position: absolute;
    top: 40px;
    font-size: 16px;
}

/* 性别 */
[data-sex]>ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

[data-sex] li[data-sex-option="male"] {
    background-image: url(/image/card/sex_male.png);
}

[data-sex] li[data-sex-option="male"]::after {
    content: "男性"
}

[data-sex] li[data-sex-option="female"] {
    background-image: url(/image/card/sex_female.png);
}

[data-sex] li[data-sex-option="female"]::after {
    content: "女性"
}

[data-sex] li[data-sex-option="double"] {
    background-image: url(/image/card/sex_double.png);
}

[data-sex] li[data-sex-option="double"]::after {
    content: "双性"
}

[data-sex] li[data-sex-option="none"] {
    background-image: url(/image/card/sex_none.png);
}

[data-sex] li[data-sex-option="none"]::after {
    content: "无性";
}

[data-sex] li[data-sex-option="male-castrated"] {
    background-image: url(/image/card/sex_male_castrated.png);
}

[data-sex] li[data-sex-option="male-castrated"]::after {
    content: "太监"
}

/* 势力选项 */
[data-group] ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    display: flex;
}

[data-group]>ul {
    flex-direction: column;
}

[data-group]>ul>ul {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

[data-group] li[data-group-option="wei"] {
    background-image: url(/image/card/group_wei.png);
}

[data-group] li[data-group-option="wei"]::after {
    content: "魏"
}

[data-group] li[data-group-option="shu"] {
    background-image: url(/image/card/group_shu.png);
}

[data-group] li[data-group-option="shu"]::after {
    content: "蜀"
}

[data-group] li[data-group-option="wu"] {
    background-image: url(/image/card/group_wu.png);
}

[data-group] li[data-group-option="wu"]::after {
    content: "吴"
}

[data-group] li[data-group-option="qun"] {
    background-image: url(/image/card/group_qun.png);
}

[data-group] li[data-group-option="qun"]::after {
    content: "群";
}

[data-group] li[data-group-option="jin"] {
    background-image: url(/image/card/group_jin.png);
}

[data-group] li[data-group-option="jin"]::after {
    content: "晋"
}

[data-group] li[data-group-option="shen"] {
    background-image: url(/image/card/group_shen.png);
}

[data-group] li[data-group-option="shen"]::after {
    content: "神"
}

[data-group] li[data-group-option="western"] {
    background-image: url(/image/card/group_western.png);
}

[data-group] li[data-group-option="western"]::after {
    content: "西"
}

[data-group] li[data-group-option="key"] {
    background-image: url(/image/card/group_key.png);
}

[data-group] li[data-group-option="key"]::after {
    content: "键"
}

/* 体力相关 */
/* 体力 */
[data-hp] div.hp-operation {
    display: flex;
    align-items: center;
    font-size: 20px;
    position: relative;
    padding-left: 1em;
    box-sizing: border-box;
    justify-content: space-between;
}

.hp-more-show:not(.hidden)~.hp-show {
    display: none;
}

.hp-more-show:is(.hidden)~.hp-adjust span[contenteditable] {
    display: none;
}

.hp-more-show {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    text-shadow: none;
}

.hp-more-show>div {
    display: flex;
    flex-direction: column;
    text-shadow: none;
}

.hp-more-show>div>span {
    cursor: pointer;
}

.hp-more-show [data-hp-adjust-mode].chosen {
    background: cadetblue;
    color: red;
}

.hp-show {
    display: flex;
    margin-left: auto;
}

.hp-adjust {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.hp-adjust>div {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-shadow: none;
    margin: 0;
    margin-left: 3px;
}

.hp-adjust>div>div {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hp-adjust>div>div:hover {
    cursor: pointer;
    outline: dashed 1px;
}

.hp-adjust>span {
    margin: 10px;
}

.hp-adjust hr {
    width: 100%;
    margin: 0;
}

.hpContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 0;
}

.hpContainer .hp {
    height: 20px;
    width: 20px;
    margin: 0 3px;
    background-size: cover;
    cursor: pointer;
}

.hpContainer.healthy .hp {
    background-image: url(/theme/style/hp/image/glass1.png);
}

.hpContainer.damaged .hp {
    background-image: url(/theme/style/hp/image/glass2.png);
}

.hpContainer.dangerous .hp {
    background-image: url(/theme/style/hp/image/glass3.png);
}

.hp.lost {
    background-image: url(/theme/style/hp/image/glass4.png);
    filter: grayscale(100%);
    opacity: 0.5;
}

.hp.lost.chosen,
.hp.lost.chosen~.hp.lost,
.hp.lost:hover,
.hp.lost:hover~.hp.lost {
    filter: grayscale(0%);
    opacity: 1;
}

/* 护甲 */
[data-hujia] div.hujia-operation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding-left: 1em;
    box-sizing: border-box;
}

.hujiaContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 0;
    box-shadow: none;
}

.hujia {
    height: 20px;
    width: 20px;
    transform: scale(1.4);
    margin: 0 3px;
    background-image: url(/image/card/shield.png);
    background-size: cover;
    cursor: pointer;
}

.hujia.reset {
    margin: 0 10px;
}

.hujia.reset::before {
    content: "🗘";
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1px;
    right: 1px;
}

.hujia.lost {
    filter: grayscale(100%);
    opacity: 0.5;
}

.hujia.lost.chosen,
.hujia.lost.chosen~.hujia.lost,
.hujia.lost:hover,
.hujia.lost:hover~.hujia.lost {
    filter: grayscale(0%);
    opacity: 1;
}